.rating{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.rating input{
    width: 100%;
    margin-bottom: 30px;
    margin-top: 10px;
}
.rating span{
    margin-top: 10px;
    font-size: 30px;
    font-weight: bolder;
    color: orange;
}